<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mini Messageboard</title>
  </head>
  <body>
    <h1>Mini Messageboard</h1>
    <ul>
      <% messages.forEach(function(message) { %>
      <li>
        <strong><%= message.user_name %></strong>: <%= message.text %> (added on <%=
        message.added.toLocaleString() %>)
      </li>
      <% }); %>
    </ul>
    <a href="/new">Post a New Message</a> 
  </body>
</html>
